server:
  port: 8083
spring:
  profiles:
    active: local
---
spring:
  config:
    activate:
      on-profile: local
  kafka:
    template:
      default-topic: coffee-orders
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
    properties:
      schema.registry.url : http://localhost:8081
      value:
        subject:
          name:
            strategy: io.confluent.kafka.serializers.subject.RecordNameStrategy





# acks: 0   # žádná garance
# acks: 1   # pouze leader (default Kafka)
# acks: all # leader + ISR (doporučeno)

#Pro e-commerce / business eventy:
#
#  acks=all
#  enable.idempotence=true
#  retries=3
#  min.insync.replicas=2
#
#
#  ✔ žádná ztráta zpráv
#  ✔ žádné duplikáty
#  ✔ bezpečné při pádu brokeru

